@font-face {
    font-family: 'barlowlight';
    src: url('../fonts/barlowcondensed-light-webfont.eot');
    src: url('../fonts/barlowcondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlowcondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/barlowcondensed-light-webfont.woff') format('woff'),
         url('../fonts/barlowcondensed-light-webfont.ttf') format('truetype'),
         url('../fonts/barlowcondensed-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowmedium';
    src: url('../fonts/barlowcondensed-medium-webfont.eot');
    src: url('../fonts/barlowcondensed-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlowcondensed-medium-webfont.woff2') format('woff2'),
         url('../fonts/barlowcondensed-medium-webfont.woff') format('woff'),
         url('../fonts/barlowcondensed-medium-webfont.ttf') format('truetype'),
         url('../fonts/barlowcondensed-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowthin';
    src: url('../fonts/barlowcondensed-thin-webfont.eot');
    src: url('../fonts/barlowcondensed-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/barlowcondensed-thin-webfont.woff2') format('woff2'),
         url('../fonts/barlowcondensed-thin-webfont.woff') format('woff'),
         url('../fonts/barlowcondensed-thin-webfont.ttf') format('truetype'),
         url('../fonts/barlowcondensed-thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ropasans';
    src: url('../fonts/ropasans-regular-webfont.eot');
    src: url('../fonts/ropasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ropasans-regular-webfont.woff') format('woff'),
         url('../fonts/ropasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ropasans-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}