.legal {
	font-size: 20px;
	background: #00455a;
	text-align: center;
	text-transform: uppercase;
	.footer-trigger {
		color: #537d94;
		padding: 20px 0;
		letter-spacing: 0.1em;
		font-family: 'ropasans', Helvetica, Arial, sans-serif;
		transition: all 0.5s ease;
		cursor: pointer;
		&:before {
			content: 'LEGAL';
		}
	}
	.footer-content {
		height: 0px;
		transition: all 0.5s ease;
		max-width: 420px;
		overflow: hidden;
		margin: 0 auto;
		p.copyright {
			font-size: 0.6em;
			line-height: 0.9em;
			padding: 0;
			margin: 0;
			padding-bottom: 10px;
			font-family: 'barlowthin', Helvetica, Arial, sans-serif;
			@media (max-width:768px) {
				line-height: 1.3em;
				padding: 0 40px 10px;
			}
		}
		ul.footer-menu {
			margin: 0;
			padding: 10px 0 0;
			border-top: 1px solid #eae7c5;
			list-style-type: none;
			li {
				a {
					font-size: 0.8em;
					font-family: 'ropasans', Helvetica, Arial, sans-serif;
					color: #eae7c5;
					@media (max-width:768px) {
						font-size: 0.6em;
					}
				}
				&:not(:last-of-type) {
					margin-bottom: 0px;
				}
			}
			&:after {
				content: '';
				width: 100%;
				height: 10px;
				display: block;
				margin-top: 10px;
				background-image: url('./assets/fancy-frame-lg.png');
				background-size: contain;
				background-repeat: no-repeat;
			}
			@media (max-width:768px) {
				width: 80%;
				margin: 0 auto;	
			}
		}
		&.open {
			height: 150px;
		}
	}
	&.open {
		.footer-trigger {
			&:before {
				content: 'CLOSE'
			}
		}
		.footer-content {
			height: 160px;
			@media (max-width:768px) {
				height: 180px;
			}
		}
	}
}