.VueCarousel {
	.VueCarousel-wrapper {
	    padding-top: 50px;
	    padding-top: 0;
	}
	.VueCarousel-pagination {
		padding-top: 20px;
		@media (min-width: 992px) {
			padding: 20px 0 50px;	
		}
	}
}

.VueCarousel-dot {
    margin-top: 0 !important;
}

/*Mobile styles*/

@media only screen and (min-device-width : 320px) and (max-width : 640px) {
	// mobile portrait styles
}