#app {
	.voters {
		padding: 40px;
		@media (min-width: 992px) {
		}
		.voters-outer {
			.voters-header {
				font-size: 4.5vw;
				letter-spacing: 0.1em;
				padding: 20px 0 30px;
				margin: 0;
				@media (min-width: 768px) {
					padding: 0;
					font-size: 2em;
					margin: 15px 0;
				}
			}
			.voters-wrapper {
				width: 100%;
				.voters-inner {
					max-width: 800px;
					margin: 0 auto;
					.voters-container {
						color: #afb886;
						font-size: 20px !important;
						text-transform: uppercase;
						padding: 0 5%;
						.voters-top {
							font-family: 'barlowthin', Helvetica, Arial, sans-serif;
							padding: 0;
							font-size:18px;
							color: #afb886 !important;
							letter-spacing: 1px;
							width: 100%;
							max-width: 400px;
							margin: 0 auto;
							margin-bottom: 5px;
							@media (min-width: 992px) {
							}
						}
						.voters-middle {
							font-family: 'ropasans', Helvetica, Arial, sans-serif;
							font-size: 4.5vw;
							letter-spacing: 0.1em;
							background-position: right;
							background-repeat: no-repeat;
							text-align: center;
							color: #eae7c5;
							display: block;
							max-width: 400px;
							width: 100%;
							margin: 10px auto;
							padding: 15px 0 10px;
	                        white-space: nowrap;
	                        border-top: 1px solid #eae7c5;
							a {
								color: #eae7c5;
								text-decoration: none;
								&:hover {
									text-decoration: none;
								}
							}
							@media (min-width: 768px) {
								font-size: 1.2em;
							}
						}

						img.voters-bottom {
							width: 100%;
							margin: 0 auto;
							max-width: 400px;
							display: block;

						}
						@media (min-width: 992px) {
						}
					}
				}
			}
		}
	}
}